# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.env
*.env
.venv/
.poetry/

# VSCode / JetBrains IDEs
.vscode/
.idea/

# Build and cache
.cache/
.mypy_cache/
dist/
build/

# Logs and DB
*.log
*.sqlite3

# Jupyter
.ipynb_checkpoints/